@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&family=Sofia+Sans+Condensed:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-width: 390px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background:radial-gradient(rgb(182, 53, 207), rgb(134, 49, 168));
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #fff;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

button {
    padding: 1rem 2rem;
    border: none;
    background-color: #e6e4e4;
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 200ms;
}

button:hover {
    background-color: #fff;
}

button:active {
    background-color: rgb(219, 218, 218);
}

#display {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;

    position: relative;
}

#seconds {
    width: 30px;

}

#ms {
    width: 30px;

}
/* ////////////////////////////////////////////////////

*/


.display-desc{
    position: absolute;
    bottom: -15px;
    width: 1000px;

}


.minutes-desc{
    position: absolute;
    top: -25px;
    left: -30px;
    rotate: -5deg;
    width: fit-content;

}


.seconds-desc{
    position: absolute;
    top: -25px;
    width: fit-content;

}


.ms-desc{
    position: absolute;
    top: -25px;
    right: -20px;
    rotate: 5deg;
    width: fit-content;

}


.desc{
    opacity: .7;
    line-height: 10px;
    font-size: 10px;
    
}

.start-desc{
    position: absolute;
    bottom: -45px;
    left: -90px;
    text-align: center;
    line-height: 12px;
}
.stop-desc{
    position: absolute;
    bottom: -45px;
    right: -90px;
    text-align: center;
    line-height: 12px;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 200ms;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .6;
}
a:hover{
opacity: 1;}

